:root {
  --bg-color: #ffffff;
  --container-bg: #080a57;
  --primary-color: #f3f184;
  --primary-dark: #0bf807;
  --text-color: #f2f067;
  --highlight-bg: #eee8d5;
  --border-radius: 10px;
  --font-family: 'Arial', sans-serif;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --transition: all 0.3s ease-in-out;
  --success-green: #67f56c;
  --circle-size: 20px;
  --tick-size: 16px;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  margin: 0;
  padding: 20px;
  color: var(--text-color);
}

.container {
  max-width: 500px;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
  background: var(--container-bg);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  max-width: 160px;
  height: auto;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 80px;
}

h1 {
  color: var(--primary-color);
  margin: 10px 0;
}

.gst-info {
  color: rgb(95, 246, 95);
  font-weight: bold;
  margin-top: 5px;
  font-size: 14px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background-color: #fff;
}

input[type="number"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

button {
  padding: 12px;
  background-color: var(--primary-color);
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: var(--transition);
}

button:hover {
  background-color: var(--primary-dark);
  color: #070152;
  transform: translateY(-4px) scale(1.03);
}

/* ───────── Footer ───────── */
.site-footer {
  background: var(--white);
  text-align: center;
  padding: 2rem 1rem;
  font-size: 0.9rem;
  color: #000000;
  font-weight: bold;
}

/* REDUCE GAP BETWEEN FOOTER PARAGRAPHS */
.site-footer p {
  margin: 0.2rem 0; /* SMALL TOP AND BOTTOM MARGIN */
  line-height: 1.2; /* TIGHTER LINE HEIGHT */
}
